In [1]:
import numpy as np
import pandas as pd
from topic_prob import TopicProb

In [2]:
df_original = pd.read_parquet('/mnt/ihxaidata01/nimishd/IR/results/seed_63498534/IRMasterRevised_with_topics.parquet')
len(df_original)

df = df_original.copy(deep=False)
# df.reset_index(drop=True, inplace=True)
df['ICD'] = df['FieldValue'].apply(lambda x: str(x)[:3])
# df = df.iloc[0:100]

In [3]:
df_original['PayerId'].value_counts()

PayerId
516572    337393
524799       666
524800         9
523850         1
Name: count, dtype: int64

In [4]:
tp = TopicProb(df, list(range(84)))

Length of df before dropping selected topics: 338069
Length of df after dropping selected topics: 235042

In [5]:
filter_list = ['PayerId', 'ICD']
tp.select_fields(filter_list)
tp.run_filters()

dropped 54 fields
Total number of rows in the resulting table: 7430
('PayerId',) [] <itertools.product object at 0x7fcfb1721740>
('ICD',) [] <itertools.product object at 0x7fcfb1721980>
('PayerId', 'ICD') [] <itertools.product object at 0x7fcfb6577ac0>
counter 7429

In [7]:
tp.topic_probability_df

     PayerId  ICD  length                                   TopicProbability
0     516572  ALL  234643  [0.1457874302664047, 0.02597989285851272, 0.00...
1     524800  ALL       6  [0.16666666666666666, 0.0, 0.0, 0.0, 0.0, 0.0,...
2     524799  ALL     392  [0.025510204081632654, 0.0, 0.0102040816326530...
3     523850  ALL       1  [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...
4        ALL  G40    1236  [0.13592233009708737, 0.015372168284789644, 0....
...      ...  ...     ...                                                ...
3107  524799  I97       1  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3108  524799  P81       1  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3109  524799  R54       1  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3110  524799  B26       1  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3111  523850  R10       1  [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...

[3112 rows x 4 columns]