In [1]:
import numpy as np
import pandas as pd

In [2]:
actions_df = pd.read_csv('actions_list.csv')

In [3]:
unique_actions = actions_df['Action'].apply(lambda x: str(x).lower()).value_counts()

In [4]:
unique_actions_df = unique_actions.to_frame().reset_index()
unique_actions_df['ActionID'] = range(len(unique_actions_df))

In [5]:
unique_actions_df.to_csv('unique_actions.csv', index=False)

In [6]:
# create a dictionary with actions mapping to an index
index_action_dict = {key: idx for idx, key in enumerate(unique_actions.index)}
# action_index_dict = {idx: key for }
nactions = len(index_action_dict)

# dictionary with index-action mapping
action_index_dict = {index_action_dict[key]: key for key in index_action_dict.keys()}

action_index_list = [{'Action ID': key, 'Action': action_index_dict[key]} for key in action_index_dict.keys()]

action_index_df = pd.DataFrame(action_index_list)

action_index_df.to_csv('index_to_action_lookup.csv', index=False)

In [7]:
def get_action_index(action):
    cleaned_action = str(action).lower()
    try:
        idx = index_action_dict[cleaned_action]
    except:
        idx = -10000
    return idx

In [8]:
expanded_topic_rep_df = pd.read_csv('expanded_topic_representations_63498534_cleaned.csv')

In [9]:
expanded_topic_rep_df['ActionID'] = expanded_topic_rep_df['Action'].apply(get_action_index)
expanded_topic_rep_df.astype({'ActionID': 'Int64'})

,topic,rep_idx,rep_ctfidf,rep_string,Count,Action,ActionID
0,-1,0,0.0964,physical document,11,NaN,-10000
1,-1,1,0.0964,physical,1,NaN,-10000
2,-1,2,0.0959,remarks provide revised medical,1,Ensure you have provided bill as per the agree...,59
3,-1,3,0.0959,remarks provide revised,1,NaN,-10000
4,-1,4,0.0938,provide revised medical agreed,1,Ensure you have provided bill as per the agree...,59
...,...,...,...,...,...,...,...
1695,83,15,0.5975,xerox,1,NaN,-10000
1696,83,16,0.5957,ir provide,1,NaN,-10000
1697,83,17,0.5929,ir provide complete,1,NaN,-10000
1698,83,18,0.5871,ir,1,NaN,-10000
1699,83,19,0.5691,ir provide complete filled,1,NaN,-10000

In [10]:
ntopics = 84
action_list = list(range(nactions))
topic_list = list(range(0, ntopics))

In [11]:
dict_list = []
for topic_number in topic_list:
    topic_action_array = np.array(expanded_topic_rep_df.loc[expanded_topic_rep_df['topic'] == topic_number]['ActionID'].to_list())
    for action_number in action_list:
        action_rep_map = np.where(topic_action_array==action_number)[0].tolist()
        if (len(action_rep_map) > 0):
            adict = {}
            adict['ActionID'] = action_number
            adict['TopicNumber'] = topic_number
            adict['RepresentationList'] = action_rep_map
            dict_list.append(adict)

In [12]:
action_representation_map_df = pd.DataFrame(dict_list)

In [13]:
action_representation_map_df.to_csv('action_representation_map.csv', index=False)

In [14]:
action_representation_map_df

     ActionID  TopicNumber                                 RepresentationList
0          26            0  [0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 12, 14, 15, 18...
1           8            1                            [0, 1, 2, 4, 5, 11, 19]
2          15            2                                        [8, 10, 13]
3          55            2                                      [1, 4, 9, 14]
4           4            3                               [3, 4, 6, 7, 13, 19]
..        ...          ...                                                ...
121        32           79                                  [4, 5, 6, 16, 19]
122        16           80    [0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 13, 17, 18]
123        11           81  [0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14...
124         3           82  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14,...
125        77           83                  [0, 1, 4, 5, 6, 8, 9, 10, 11, 12]

[126 rows x 3 columns]

In [15]:
nactions

78